[Unit]
Description=SleepAsAService
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/saas loopService

[Install]
WantedBy=multi-user.target
